kind: Pod
metadata:
  creationTimestamp: "2024-02-06T10:17:42Z"
  labels:
    app: pihole-pod
  name: pihole-pod
spec:
  hostNetwork: true
  dnsConfig:
    nameservers:
      - 127.0.0.1
      - 1.1.1.1
      - 1.0.0.1
  containers:
    - name: pihole
      image: pihole/pihole:latest
      securityContext:
        capabilities:
          add: ["NET_ADMIN", "NET_RAW"]
      volumeMounts:
        - mountPath: /etc/pihole
          name: etc-pihole
        - mountPath: /etc/dnsmasq.d
          name: etc-dnsmasq.d
      env:
        - name: INTERFACE
          value: "lanbr0"
        - name: IPV6
          value: "true"
        - name: TZ
          value: "Europe/Paris"
        - name: PIHOLE_DNS
          value: "1.1.1.1,1.0.0.1"
        - name: PIHOLE_DOMAIN
          value: "{{ domain }}"
        - name: FTLCONF_LOCAL_IPV4
          value: "10.10.10.100"
        - name: VIRTUAL_HOST
          value: "{{ hostname }}"
        - name: WEBPASSWORD
          value: "0000"
        - name: DHCP_ACTIVE
          value: "true"
        - name: DHCP_START
          value: "10.10.10.150"
        - name: DHCP_END
          value: "10.10.10.180"
        - name: DHCP_ROUTER
          value: "10.10.10.1"
        - name: DHCP_IPV6
          value: "true"
  volumes:
    - name: etc-pihole
      hostPath:
        path: /media/data/pihole/etc-pihole
        type: Directory
    - name: etc-dnsmasq.d
      hostPath:
        path: /media/data/pihole/etc-dnsmasq.d
        type: Directory